<a href="https://colab.research.google.com/github/nabilnehme/AAI614_Nehme/blob/main/Week2/LAUAAI614_Nabil_Nehme_Notebook2.6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AAI614: Data Science & its Applications

*Notebook 2.6: Practice with Data Collections*

<a href="https://colab.research.google.com/github/harmanani/AAI614/blob/main/Week%202/Notebook2.6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Import the taxi info from both January and July 2019.
# Include the following columns: tpep_pickup_datetime, passenger_count, trip_distance,
# fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge,
# total_amount, and congestion_surcharge.

filenames = ['https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bg.csv',
             'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ap.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ax.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ai.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ax.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ai.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bb.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bc.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07bb.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01an.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bd.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ao.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01be.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07an.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ap.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bf.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ao.csv']


#all_dfs = [pd.read_csv(one_filename, names = file_headers, header = 1, low_memory = False, usecols = included_col, parse_dates = ['tpep_pickup_datetime']) for one_filename in filenames]

#df = pd.concat(all_dfs)

df_1st=pd.read_csv(filenames[0])
df_1st

columns_use=df_1st.columns.tolist()

all_dfs = [pd.read_csv(one_filename,header=None,names=columns_use, usecols=range(18),skiprows=1) for one_filename in filenames[0:]]

df=pd.concat(all_dfs,ignore_index=True)

#all_dfs = [pd.read_csv(one_filename) for one_filename in filenames]

#df = pd.concat(all_dfs)

df.head()

<ipython-input-2-9f9ac9519891>:38: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_dfs = [pd.read_csv(one_filename,header=None,names=columns_use, usecols=range(18),skiprows=1) for one_filename in filenames[0:]]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151.0,239.0,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1.0,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239.0,246.0,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2.0,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,1.0,N,236.0,236.0,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2.0,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.0,1.0,N,193.0,193.0,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2.0,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.0,2.0,N,193.0,193.0,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [3]:
# Create a new column, pre_tip_amount
df['pre_tip_amount'] = (
    df
    [['fare_amount', 'extra', 'mta_tax', 'tolls_amount',
      'improvement_surcharge', 'congestion_surcharge']]
    .sum(axis='columns')
)

In [4]:
# Create a new column, tip_percentage, showing the percent of the fare_amount that people tipped
df['tip_percentage'] = df['tip_amount'] / df['pre_tip_amount']

In [5]:
# What was the overall tip percentage?
df['tip_percentage'].mean()

0.130039691057778

In [6]:
# How many times did people tip more than 100%?
(df['tip_percentage'] > 1).value_counts()

tip_percentage
False    13970379
True         7831
Name: count, dtype: int64

In [7]:
# What percent of taxi riders give no tip at all?
(df['tip_percentage'] == 0).value_counts(normalize=True)

tip_percentage
False    0.679231
True     0.320769
Name: proportion, dtype: float64

In [8]:
# On which day of the week do people tip the greatest percentage?
# Mon = 0, Tues = 1, Wed = 2, Thu = 3, Fri = 4, Sat = 5, Sun = 6

#df.groupby(df['tpep_pickup_datetime'].dt.day_of_week)['tip_percentage'].mean().sort_values(ascending=False)


# Convert tpep_pickup_datetime to datetime if it isn't already
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')

# Group by day of the week and calculate mean tip percentage
day_of_week_tips = df.groupby(df['tpep_pickup_datetime'].dt.dayofweek)['tip_percentage'].mean().sort_values(ascending=False)

day_of_week_tips

tpep_pickup_datetime
3.0    0.133969
2.0    0.132221
1.0    0.131424
4.0    0.129136
0.0    0.128723
6.0    0.126634
5.0    0.125801
Name: tip_percentage, dtype: float64

In [9]:
# At which hour do people tip the greatest percentage?
df.groupby(df['tpep_pickup_datetime'].dt.hour)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
22.0    0.138816
20.0    0.138160
21.0    0.137685
8.0     0.137116
19.0    0.135174
23.0    0.134979
18.0    0.133292
9.0     0.133017
7.0     0.132134
0.0     0.131490
2.0     0.130914
1.0     0.130710
17.0    0.128640
10.0    0.127200
11.0    0.125022
16.0    0.124655
13.0    0.124566
12.0    0.124374
14.0    0.123727
15.0    0.123547
3.0     0.121053
6.0     0.119915
4.0     0.118987
5.0     0.112027
Name: tip_percentage, dtype: float64

In [10]:
# Do people tip more, on average, in January or July?
df.groupby(df['tpep_pickup_datetime'].dt.month)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
5.0     0.200000
8.0     0.158099
3.0     0.148046
9.0     0.141431
1.0     0.137011
2.0     0.132224
7.0     0.121570
12.0    0.109367
6.0     0.107354
10.0    0.100000
4.0     0.074877
11.0    0.046026
Name: tip_percentage, dtype: float64

In [11]:
# Ensure 'tpep_pickup_datetime' is in datetime format
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')

# Group by day and calculate the average tip percentage per day
daily_tip_percentage = (
    df.groupby(df['tpep_pickup_datetime'].dt.date)['tip_percentage']
    .mean()
    .sort_values(ascending=False)
    .head(10)
)

daily_tip_percentage

tpep_pickup_datetime
2019-02-13    0.358127
2019-02-25    0.250000
2019-08-20    0.241865
2019-05-20    0.200000
2019-08-10    0.200000
2019-08-15    0.200000
2019-11-27    0.200000
2019-09-22    0.200000
2019-08-14    0.200000
2019-09-25    0.200000
Name: tip_percentage, dtype: float64

In [12]:
# What was the 1-day period in our data set when people tipped the greatest percentage?
#df = df.set_index('tpep_pickup_datetime')
#df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

# What was the 1-day period in our data set when people tipped the greatest percentage?
#df = df.set_index('tpep_pickup_datetime')
#answer=df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)
#answer

In [13]:
# Try again, within our range
#df = df.sort_index()

#df = pd.concat([df.loc['2019-01-01':'2019-01-31'],
#           df.loc['2019-07-01':'2019-07-31']])

#df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)




# Ensure 'tpep_pickup_datetime' is in datetime format
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')

# Filter only for January and July dates, and keep only relevant columns
df_filtered = df[
    ((df['tpep_pickup_datetime'] >= '2019-01-01') & (df['tpep_pickup_datetime'] <= '2019-01-31')) |
    ((df['tpep_pickup_datetime'] >= '2019-07-01') & (df['tpep_pickup_datetime'] <= '2019-07-31'))
][['tpep_pickup_datetime', 'tip_percentage']]

# Set 'tpep_pickup_datetime' as the index
df_filtered = df_filtered.set_index('tpep_pickup_datetime').sort_index()

# Calculate the mean tip percentage per day and display the top 10 days
answer = df_filtered['tip_percentage'].resample('1D').mean().sort_values(ascending=False).head(10)

answer

tpep_pickup_datetime
2019-01-30    0.143530
2019-01-24    0.143434
2019-01-22    0.142769
2019-01-15    0.142330
2019-01-29    0.141330
2019-01-10    0.141291
2019-01-16    0.141148
2019-01-17    0.140356
2019-01-23    0.140310
2019-01-14    0.139223
Name: tip_percentage, dtype: float64

In [14]:
#df.resample('1M')['tip_percentage'].mean().dropna()

# Ensure the datetime column is in proper datetime format
#df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')

# Drop rows where 'tip_percentage' is missing
#df = df.dropna(subset=['tip_percentage'])

# Filter data to reduce the size (e.g., limit the dataset to 2019)
#df = df[(df['tpep_pickup_datetime'] >= '2019-01-01') & (df['tpep_pickup_datetime'] <= '2019-12-31')]

# Set 'tpep_pickup_datetime' as the index for resampling
#df = df.set_index('tpep_pickup_datetime')

# Resample by month and calculate the mean tip percentage per month
#monthly_tip_percentage = df['tip_percentage'].resample('1M').mean().dropna()

# Display the result
#monthly_tip_percentage

# Questions

1. We saw that 32 percent of riders don't tip at all. Of those who *do*, what percentage do they tip, on average?

In [15]:
# Filter the dataset to include only rows where tip_percentage is greater than 0 (those who tipped)
df_tippers = df[df['tip_percentage'] > 0]

# Calculate the average tip percentage for those who tipped
average_tip_for_tippers = df_tippers['tip_percentage'].mean()

average_tip_for_tippers

0.1914734236810178

2. How many of the rides in our data set, supposedly from January and July 2019, are from outside of those dates?

In [16]:
# Filter the dataset for rides outside of January and July 2019
df_outside_jan_jul = df[~((df['tpep_pickup_datetime'] >= '2019-01-01') & (df['tpep_pickup_datetime'] <= '2019-01-31')) &
                        ~((df['tpep_pickup_datetime'] >= '2019-07-01') & (df['tpep_pickup_datetime'] <= '2019-07-31'))]

# Count the number of rows outside these dates
num_outside_jan_jul = df_outside_jan_jul.shape[0]

num_outside_jan_jul

509048

3. Looking only at dates in January and July, on what week did passengers tip the greatest percentage?

In [17]:
# Ensure 'tpep_pickup_datetime' is in datetime format
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')

# Filter only for January and July dates, and keep only relevant columns
df_filtered = df[
    ((df['tpep_pickup_datetime'] >= '2019-01-01') & (df['tpep_pickup_datetime'] <= '2019-01-31')) |
    ((df['tpep_pickup_datetime'] >= '2019-07-01') & (df['tpep_pickup_datetime'] <= '2019-07-31'))
][['tpep_pickup_datetime', 'tip_percentage']]

# Set the 'tpep_pickup_datetime' column as the index for resampling
df_filtered = df_filtered.set_index('tpep_pickup_datetime')

# Resample by week and calculate the mean 'tip_percentage' for each week
week_tip_percentage = df_filtered['tip_percentage'].resample('W').mean()

# Sort the weeks by the average 'tip_percentage' in descending order and get the top result
week_tip_percentage_sorted = week_tip_percentage.sort_values(ascending=False)

# Get the week with the greatest average tip percentage
week_tip_percentage_sorted.head(1)

tpep_pickup_datetime
2019-02-03    0.14111
Name: tip_percentage, dtype: float64